<div id='word_table'>
  <table>
    <% if @word %>
      <tr id="wr_heading_row" class="heading">
        <td class="word"> <%= @word.name %> </td>
        <td class="syllables"> <%= @word.num_syllables %> </td>
        <td class="phonemes">
          <% @word.phonemes.reverse.each do |p| %>
            <div> <%= p.full_name %> </div>
            <div class="spacer"> </div>
          <% end%>
        </td>
      </tr>
    <% end %>
    <% @words_to_show.each_with_index do |word,i| %>
      <tr id="wr_<%= word.name %>_" class="<%= cycle('odd', 'even') %>">
        <td class="word"> <%= link_to word.name, word %> </td>
        <td class="syllables"> <%= word.num_syllables %> </td>
        <td class="phonemes">
          <% matching = true %>
          <% word.phonemes.reverse.each_with_index do |p,j| %>
            <% matching = false if p != @word.phonemes.reverse[j] %>
            <div class="<%= "match" if matching %>"> <%= p.full_name %> </div>
            <div class="spacer"> </div>
          <% end%>
        </td>
      </tr>  
    <% end %>
  </table>
</div>

