<%= form_for @query, :url => query_path do |q| %>
  <div id="input_area">
    <% if @query.dictionary == "0" %>
      <div class="first_phoneme_field" > 
        <span><%= (@query.reverse=="1") ? "Last phoneme:" : "First phoneme:"%></span>
        <%= q.select :first_phoneme, options_for_select(@query.phoneme_filter_options, @query.first_phoneme) %>
      </div>
      <div class="num_syllables_field" >
        <span>Number of syllables:</span>
        <%= q.select :num_syllables, options_for_select(@query.num_syllables_filter_options, @query.num_syllables) %>
      </div>
      <div class="word_type_field" >
        <span>Word type:</span>
        <%= q.select :word_type, options_for_select(@query.word_type_filter_options, @query.word_type) %>
      </div>
      <div class="perfect_box" >
        <span>Perfect rhyme:</span>
        <%= q.check_box :perfect %>
      </div>
      <div class="reverse_box" >
        <span>Reverse rhyme:</span>
        <%= q.check_box :reverse %>
      </div>
      <div class="rap_button_box">
        <%= q.submit "Rap" %>
      </div>
    <% else %> 
      <div>
        <%= q.submit "Search" %>
      </div>
    <% end %>
  </div>

  <div id="wr_heading_row" class="word_table heading">
    <div class="text_field overlapping">
      <% if @query.dictionary=="1" %>
        <%= q.text_field :text, :value => (@query.text || ""), :autocomplete => :off, :class => 'main-input' %>
      <% else %>
        <%= q.text_field :text, :value => (@query.text || ""), :class => 'main-input' %>
      <% end %>
      <%= q.text_field :id, :type => :hidden, :value => (@query.id || "") %>
      <%= q.text_field :dictionary, :type => :hidden, :value => (@query.dictionary || "0") %>
    </div>
    <div class="word">
      <!-- background -->
    </div>
    <div class="syllables"> <%= (@query.word.try(&:num_syllables) || "") unless (@query.dictionary=="1") %> </div>
    <% order_class = (@query.reverse=="1") ? "reversed" : "normal_order" %>
    <div class="phonemes <%= order_class %>">
      <% if @query.dictionary=="1" %>
        <% wphonemes = [] %>
      <% else %>
        <% wphonemes = @query.word.try(&:word_phonemes) || [] %>
      <% end %>
      <% if @query.reverse=="0" %>
        <% wphonemes = wphonemes.reverse %>
      <% end %>
      <% wphonemes.each_with_index do |ph,j| %>
        <div class="spacer <%= order_class %>"><%= "-" unless j == 0 %></div>
        <div class="single_phoneme <%= order_class %>"> <%= ph.phoneme_string %> </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  $(document).delegate('*', 'keypress', function (evt) {
    if (!$("#query_text").focus()) {
      $("#query_text").focus().val($("#query_text").val());
    }
    $("#query_id").val("");
  });
  $(document).ready(function() {
    $("#query_reverse").click(function() {
      if ($(".first_phoneme_field span").html()=="Last phoneme:") {
        $(".first_phoneme_field span").html("First phoneme:");
      } else {
        $(".first_phoneme_field span").html("Last phoneme:");
      }
    });
    $("#query_text").focus().val($("#query_text").val());
    if ($("#query_dictionary").val()!="1") {
      $(function() {
        $("#query_text").autocomplete({
          source: '<%= query_path(:json) %>',
          select: function(event, ui) {
            $("#query_text").val(ui.item.label);
            $("#query_id").val(ui.item.id);
            if ($(".syllables").val()!="") {
              $("#wr_heading_row div.syllables").html(ui.item.num_syllables);
              if ($("#wr_heading_row div.phonemes").hasClass("normal_order")) {
                $("#wr_heading_row div.phonemes").html("<div class='single_phoneme normal_order'>" + ui.item.reversed_phonemes.join("</div><div class='spacer normal_order'> - </div><div class='single_phoneme normal_order'>") + "</div>");
              } 
              else if ($("#wr_heading_row div.phonemes").hasClass("reversed")) {
                $("#wr_heading_row div.phonemes").html("<div class='single_phoneme reversed'>" + ui.item.phonemes.join("</div><div class='spacer reversed'> - </div><div class='single_phoneme reversed'>") + "</div>");
              }
            }
            $("#new_query").submit();
            return false;
          }
        }).data("uiAutocomplete")._renderItem = function(ul, item) {
          return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a><span class='autoleft'>" + item.label + " </span><span class='autoright'> " + item.phonetic_label + "</span></a>")
            .appendTo(ul);
          };
      });
    }
  });
</script>