<% @query.words_to_show.each_with_index do |result,i| %>
  <% word = result[:primary_word] %>
  <div id="wr_<%= i %>_" class="word_table<%= (@query.word) ? " result_simple" : "" %>">
    <div class="word <%= result[:even_tag] %>"> 
      <%= word[:name] %> 
      <%= "(+#{result[:other_words].length})" if result[:other_words].length > 0 %>
    </div>
    <div class="controls <%= result[:even_tag] %>">
      <b data-phonemes="<%= result[:pronunciation_label] %>" class="audio">P</b>
      <%= link_to "D", edit_word_path(word[:word_id]) %>
      <%= link_to "R", @query.rhyming_link(word[:word_id]) %>
    </div>
    <div class="syllables <%= result[:even_tag] %>"> 
      <%= word[:num_syllables] %> 
    </div>
    <div class="pronunciation <%= @query.reversed_tag %> <%= result[:even_tag] %>">
      <% matching = @query.dictionary=="0" %>
      <% result[:syllables].each_with_index do |syllable,j| %>
        <div class="spacer <%= @query.reversed_tag %> <%= "match" if matching %>"><%= " . " unless j == 0 %></div>
        <div class="single_syllable <%= @query.reversed_tag %> <%= "match" if matching %>"> <%= syllable.label.gsub("-"," ") %> </div>
      <% end %>
    </div>
  </div>
  <div id="wr_<%= i %>_extended" class="word_table result_extended">
    <% if word[:lexemes].length > 0 %>
      <div>
        <div class="lexeme_spacer <%= result[:even_tag] %>"> </div>
          <% word[:lexemes].each do |lexeme| %>
            <div class="lexemes <%= result[:even_tag] %>"><%= lexeme %></div>
          <% end%>
        <div class="lexeme_spacer <%= result[:even_tag] %>"> </div>
      </div>
    <% end %>
    <% result[:other_words].each do |other_word| %>
      <div>
        <div class="word <%= result[:even_tag] %>"> 
          <%= other_word[:name] %> 
        </div>
        <div class="buttons <%= result[:even_tag] %>"></div>
        <div class="controls <%= result[:even_tag] %>">
          <b data-phonemes="<%= result[:pronunciation_label] %>" class="audio">P</b>
          <%= link_to "D", edit_word_path(other_word[:word_id]) %>
          <%= link_to "R", @query.rhyming_link(other_word[:word_id]) %>
        </div>
        <div class="syllables <%= result[:even_tag] %>"> 
          <%= other_word[:num_syllables] %> 
        </div>
        <div class="pronunciation <%= @query.reversed_tag %> <%= result[:even_tag] %>">
          <% matching = @query.dictionary=="0" %>
          <% result[:syllables].each_with_index do |syllable,j| %>
            <div class="spacer <%= @query.reversed_tag %> <%= "match" if matching %>"><%= " . " unless j == 0 %></div>
            <div class="single_syllable <%= @query.reversed_tag %> <%= "match" if matching %>"> <%= syllable.label.gsub("-"," ") %> </div>
          <% end %>
        </div>
      </div>
      <div>
        <% if other_word[:lexemes].length > 0 %>
          <div class="lexeme_spacer <%= result[:even_tag] %>"> </div>
          <% other_word[:lexemes].each do |lexeme| %>
            <div class="lexemes <%= result[:even_tag] %>"><%= lexeme %></div>
          <% end%>
          <div class="lexeme_spacer <%= result[:even_tag] %>"> </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<% if (@query.dictionary=="1") && (@query.text != "") %>
  <div id="new_entry" class="word_table<%= (@query.word) ? " result_simple" : "" %>">
    <div class="word <%= (@query.words_to_show.length%2==0) ? "even" : "odd" %>"> 
      <%= link_to "add new word...", new_word_path({:text => @query.text}), :class => "word_link" %> 
    </div>
    <div class="syllables <%= (@query.words_to_show.length%2==0) ? "even" : "odd" %>"> </div>
    <div class="phonemes <%= (@query.words_to_show.length%2==0) ? "even" : "odd" %>"> </div>
  </div>
<% end %>

<script type="text/javascript">
  $(".result_extended").each(function() {
    $(this).hide();
  });
  $(".result_simple").each(function() {
    $(this).hide();
  });
  // $("#wr_heading_row").hide();
  $(document).ready(function() {
    $(".result_simple").each(function() {
      $(this).slideDown(500);
    });
    // $("#wr_heading_row").show("slide", {direction: "down"}, 500);
    $(".result_simple").click(function() {
      if ($("#" + this.id + "extended").is(":visible")) {
        $(".result_extended").slideUp(500);
      } else {
        $(".result_extended").slideUp(500);
        $("#" + this.id + "extended").slideToggle(500);
      }
    });
    $("a").click(function(e) {
      e.stopPropagation();
      $(".result_extended").slideUp(500);
      $(".result_simple").slideUp(500);
      $("#wr_heading_row").hide("slide", {direction: "down"}, 500);
      $(".title_word").animate({"width": "toggle"}, 500);
      $(".title_word").hide("slide", {direction: "left"}, 500);
      // $(".title_word").toggleClass("visible");
    });
    $("#new_query").submit(function() {
      $(".result_extended").slideUp(500);
      $(".result_simple").slideUp(500);
      // $("#wr_heading_row").hide("slide", {direction: "down"}, 500);
      $(".title_word").animate({"width": "toggle"}, 500);
      $(".title_word").hide("slide", {direction: "left"}, 500);
      // $(".title_word").toggleClass("visible");
    });
  });
  $(".audio").click(function() {
    var audios = $.map($(this).data("phonemes").replace(/[0-9]*/g, "").split("-"), function(val,i) {
      sound = new Audio();
      if (sound.canPlayType('audio/mpeg')) {
        sound.src = "/audio/" + val + ".mp3";
        sound.accessKey = i;
      } else if (sound.canPlayType('audio/ogg')) {
        sound.src = "/audio/" + val + ".ogg";
        sound.accessKey = i;
      } else {
        sound.src = null;
        sound.accessKey = i;
      }
      return sound;
    });
    for (var i = 0; i < (audios.length-1); i++) {
      audios[i].addEventListener("ended", function() { 
        audios[parseInt($(this)[0].accessKey)+1].play();
      }, true);
    }
    audios[0].play();
  });
</script>

