<% @query.words_to_show.each_with_index do |word,i| %>
  <div id="wr_<%= i %>_" class="word_table<%= (@query.word) ? " result_simple" : "" %>">
  <!-- <div id="wr_<%= i %>_" class="word_table result_simple"> -->
    <div class="word <%= (i%2==0) ? "even" : "odd" %>"> 
      <% if @query.dictionary=="1" %>
        <%= link_to word.name, edit_word_path(@query.word), :class => "word_link" %> 
      <% else %>
        <%= link_to word.name, @query.params_for_each_option[i], :class => "word_link" %> 
      <% end %>
    </div>
    <div class="syllables <%= (i%2==0) ? "even" : "odd" %>"> 
      <%= word.num_syllables %> 
    </div>
    <% order_class = (@query.reverse=="1") ? "reversed" : "normal_order" %>
    <div class="phonemes <%= order_class %> <%= (i%2==0) ? "even" : "odd" %>">
      <% matching = @query.dictionary=="0" %>
      <% wphonemes = (@query.reverse=="1") ? word.word_phonemes : word.word_phonemes.reverse %>
      <% wphonemes.each_with_index do |block,j| %>
        <% matching = false unless @query.word && @query.word.has_phoneme_block(block,j,@query.reverse=="1") %>
        <div class="spacer <%= order_class %> <%= "match" if matching %>"><%= "-" unless j == 0 %></div>
        <div class="single_phoneme <%= order_class %> <%= "match" if matching %>"> <%= block.phoneme_string %> </div>
      <% end %>
    </div>
  </div>
  <div id="wr_<%= i %>_lexemes" class="word_table result_extended">
    <% if word.lexemes.length > 0 %>
      <div class="lexeme_spacer <%= (i%2==0) ? "even" : "odd" %>"> </div>
      <% word.lexemes.each_with_index do |lexeme,j| %>
        <div class="lexemes <%= (i%2==0) ? "even" : "odd" %>">
          <%= "#{j+1}: (" + lexeme.word_class + ") " + lexeme.gloss + "." %>
        </div>
      <% end%>
      <div class="lexeme_spacer <%= (i%2==0) ? "even" : "odd" %>"> </div>
    <% end %>
  </div>
<% end %>
<% if (@query.dictionary=="1") && (@query.text != "") %>
  <div id="new_entry" class="word_table<%= (@query.word) ? " result_simple" : "" %>">
    <div class="word <%= (@query.words_to_show.length%2==0) ? "even" : "odd" %>"> 
      <%= link_to "add new word...", new_word_path({:text => @query.text}), :class => "word_link" %> 
    </div>
    <div class="syllables <%= (@query.words_to_show.length%2==0) ? "even" : "odd" %>"> </div>
    <div class="phonemes <%= (@query.words_to_show.length%2==0) ? "even" : "odd" %>"> </div>
  </div>
<% end %>

<script type="text/javascript">
  $(".result_extended").each(function() {
    $(this).hide();
  });
  $(".result_simple").each(function() {
    $(this).hide();
  });
  // $("#wr_heading_row").hide();
  $(document).ready(function() {
    $(".result_simple").each(function() {
      $(this).slideDown(500);
    });
    // $("#wr_heading_row").show("slide", {direction: "down"}, 500);
    $(".result_simple").click(function() {
      if ($("#" + this.id + "lexemes").is(":visible")) {
        $(".result_extended").slideUp(500);
      } else {
        $(".result_extended").slideUp(500);
        $("#" + this.id + "lexemes").slideToggle(500);
      }
    });
    $("a").click(function(e) {
      e.stopPropagation();
      $(".result_extended").slideUp(500);
      $(".result_simple").slideUp(500);
      $("#wr_heading_row").hide("slide", {direction: "down"}, 500);
      $(".title_word").animate({"width": "toggle"}, 500);
      $(".title_word").hide("slide", {direction: "left"}, 500);
      // $(".title_word").toggleClass("visible");
    });
    $("#new_query").submit(function() {
      $(".result_extended").slideUp(500);
      $(".result_simple").slideUp(500);
      // $("#wr_heading_row").hide("slide", {direction: "down"}, 500);
      $(".title_word").animate({"width": "toggle"}, 500);
      $(".title_word").hide("slide", {direction: "left"}, 500);
      // $(".title_word").toggleClass("visible");
    });
  });
</script>

