<div id='word_table'>
  <table>
    <% if @query.word %>
      <tr id="wr_heading_row" class="heading">
        <td class="word"> <%= @query.text %> </td>
        <td class="syllables"> <%= @query.word.num_syllables %> </td>
        <td class="phonemes">
          <% @query.word.word_phonemes.reverse.each do |p| %>
            <div> <%= p.full_name %> </div>
            <div class="spacer"> </div>
          <% end%>
        </td>
      </tr>
    <% end %>
    <% @query.words_to_show.each_with_index do |word,i| %>
      <tr id="wr_<%= i %>_" class="<%= cycle('odd', 'even') %>">
        <td class="word"> <%= link_to word.name, @query.params_for_each_option[i] %> </td>
        <td class="syllables"> <%= word.num_syllables %> </td>
        <td class="phonemes">
          <% matching = true %>
          <% word.word_phonemes.reverse.each_with_index do |p,j| %>
            <% matching = false unless @query.word && @query.word.has_phoneme(p,j) %>
            <div <%= "class=match" if matching %>> <%= p.full_name %> </div>
            <div class="spacer"> </div>
          <% end%>
        </td>
      </tr>  
    <% end %>
  </table>
</div>

