<div id='word_table'>
  <table>
    <% @words_to_show.each_with_index do |word,i| %>
      <tr id="option<%= (i+1) %>" class="<%= cycle('odd', 'even') %>">
        <td class="word"> <%= link_to word.name, @get_params[i] %> </td>
        <td class="syllables"> <%= word.num_syllables %> </td>
        <td class="phonemes">
          <% word.phonemes.reverse.each_with_index do |p,j| %>
            <div> <%= p.full_name %> </div>
            <div class="spacer"> </div>
          <% end%>
        </td>
      </tr>  
    <% end %>
  </table>
</div>

