<div id="title_table">
  <div id="sliding_word">
    <% if @query.word %>
      <div class="title_word"> <h2><%= @query.text + ":" %></h2> </div>
      <div class="title_spacer"> </div>
    <% end %>
  </div>
  <div class="title_gr"><h2>giftRAPPED</h2></div>
</div>

<div id="input_area">
  <%= form_for @query, :url => query_path do |q| %>
    <div class="text_field" > 
      <%= q.text_field :text, :value => (@query.text || "") %>
      <%= q.submit "Rap" %>
    </div>
    <div class="first_phoneme_field" > 
      First phoneme: 
      <%= q.select :first_phoneme, options_for_select(@query.phoneme_filter_options, @query.first_phoneme) %>
    </div>
    <div class="num_syllables_field" >
      Number of syllables:
      <%= q.select :num_syllables, options_for_select(@query.num_syllables_filter_options, @query.num_syllables) %>
    </div>
<!--       <br> Word type:
    <%= q.select :word_type, options_for_select(@query.word_type_filter_options, @query.word_type) %>
    <br> Only perfect rhymes:
    <%= q.check_box :perfect %> -->
  <% end %>
</div>

<script type="text/javascript">
// $("#sliding_word").hide();
$("#title_table").animate( {
  left: -$("#sliding_word").outerWidth()
});
$("#title_table").animate( {
  left: 0
});
</script>

<% if @query.words_to_show %>
  <%= render "table" %>
<% end %>