<div id="title_banner">
  <% if @query.try(&:word) %>
    <div class="title_word"> <h2><%= @query.text + ":" %></h2> </div>
  <% end %>
  <div class="title_gr"><h2>giftRAPPED</h2></div>
  <div id="links">
    <% if !@query %>
      <%= link_to "Rhyming", "/", :class => "rhyming_link" %>
      <%= link_to "Dictionary", "/?dictionary=1", :class => "dictionary_link" %>
    <% elsif @query.try(&:dictionary) == "1" %>
      <%= link_to "Rhyming", @query.toggle_params, :class => "rhyming_link" %>
      <b class="dictionary_link"> Dictionary </b>
    <% else %>
      <b class="rhyming_link"> Rhyming </b>
      <%= link_to "Dictionary", @query.toggle_params, :class => "dictionary_link" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  // $(".title_word").hide();
  $(".title_word").animate({"width": "toggle"}, 0);
  $(".title_word").hide("slide", {direction: "left"}, 0);
  $(document).ready(function() {
    // $(".title_word").toggleClass("visible");
    $(".title_word").animate({"width": "toggle"}, 500);
    $(".title_word").show("slide", {direction: "left"}, 500);
  }); 
</script>