<!DOCTYPE html>
<html>
<head>
  <title>GiftRAPPED</title>
  <%= stylesheet_link_tag    "application" %>
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" media="screen" rel="stylesheet" type="text/css"/>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="flash">
  <% flash.each do |key, value| %>
    <div class="flash" id="<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

</body>
</html>
