<!DOCTYPE html>
<html>
<head>
  <title>GiftRAPPED</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="title_table">
  <table>
      <tr>
        <% if @word %>
          <td class="title_word"> <h2><%= @word.name + ":" %></h2> </td>
          <td class="title_spacer">  </td>
        <% end %>
        <td class="title_gr"><h2>giftRAPPED</h2></td>
      </tr>
  </table>
</div>

<div id="input_area">
  <div id="word_input" class="input">
    <%= form_for @input do |f| %>
      <%= f.text_field(:name) %>
      <%= f.submit("Rap") %>
    <% end %>
  </div>
  <div class="input">
    <select name="first_letter">
      <% "abcdefghijklmnopqrstuvwxyz".each_char do |c| %>
        <option value="#{c}"><%= c %></option>
      <% end %>
    </select>
  </div>
  <div class="input">
    <select name="syllables">
      <% [1,2,3,4,5,6].each do |n| %>
        <option value="#{n}"><%= n %></option>
      <% end %>
      <option value="7+"><%= "7+" %></option>
    </select>
  </div>
</div>

<%= yield %>

<div class="flash">
  <% flash.each do |key, value| %>
    <div class="flash" id="<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

</body>
</html>
